<a href="https://colab.research.google.com/github/viktoruebelhart/uci_bank/blob/main/UCI_BANK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

These data are related to marketing campaigns, based on telephone calls, from a Portuguese banking institution. The goal is to understand, from this dataset, whether a client will subscribe to a term deposit (variable y) at the bank. The marketing campaigns were conducted via telephone calls. Often, more than one contact with the same client was required to determine whether the product (bank term deposit) would be acquired or not.

In [7]:
import pandas as pd

df = pd.read_csv('/content/UCI Machine Learning Repository - Bank.csv', sep=';')

df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [9]:
df.shape

(4521, 17)

age: The client’s age.

job: The client’s occupation/profession.

marital: The client’s marital status (e.g., single, married).

education: The client’s education level.

default: Indicates if the client has any outstanding credit in default.

balance: The client’s average bank account balance.

housing: Indicates if the client has a housing loan.

loan: Indicates if the client has a personal loan.

contact: The type of telephone contact (e.g., mobile, landline).

day: The day of the last phone contact.

month: The month of the last phone contact.

duration: The duration (in seconds) of the last phone contact.

campaign: The number of contacts performed during this campaign.

pdays: The number of days since the last contact from a previous campaign.

previous: The number of contacts made before this campaign.

poutcome: The result of the previous marketing campaign (e.g., success,
failure).

y: The target variable, indicating whether the client subscribed (yes/no) to a term deposit.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [15]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64